build
dist
pyproject.toml
SEACells.egg-info
**/__pycache__
**/.ipynb_checkpoints/
**/.DS_Store
**/.idea
notebooks/data/cd34_multiome_rna.h5ad
# Add all .npy files in any folder starting with "results"
**/results*/**/*.npy
